<!-- <section>
  <div class="d-flex align-items-center justify-content-around menu-fixo">
    <div
      class="menu-item"
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-search"></i>
      <p>Serviços</p>
    </div>
    <div
      class="menu-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-tasks"></i>
      <p>Pedidos</p>
    </div>

    <div
      class="menu-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-clock"></i>
      <p>Pendentes</p>
    </div>
    <div
      class="menu-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-user fs-3"></i>
      <p>Perfil</p>
    </div>
  </div>
</section> -->
<!-- <section>
  <div class="d-flex align-items-center justify-content-around menu-fixo">
    <div
      class="menu-item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-search"></i>
      <p>Serviços</p>
    </div>
    <div
      class="menu-item"
      routerLink="/progress"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-tasks"></i>
      <p>Pedidos</p>
    </div>
  
    <div
      class="menu-item"
      routerLink="/budgets"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-clock"></i>
      <p>Pendentes</p>
    </div>
    <div
      class="menu-item"
      routerLink="/home/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-user fs-3"></i>
      <p>Perfil</p>
    </div>
  </div>
</section> -->
