.menu-fixo {
    position: fixed;
    bottom: -20px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1000;

}

.menu-fixo .menu-item {
    flex: 1;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.menu-fixo .menu-item-central {
    position: relative;
    top: -15px;
    background: var(--primary);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 12px;
}
/* i {
    color: grey;
} */

.active {
    color: var(--primary) !important;
}