<section id="profile" class="container menu-perfil">
  <app-nav>
    <a routerLink="/" class="logo">
      <img
        src="../../../assets/logo-rosa.webp"
        class="img-fluid"
        style="width: 4em"
        alt="error"
      />
    </a>

    <div></div>

    <!-- Botão de login -->
    <!-- <a routerLink="/login" class="login-button">
                <i class="fas fa-bars"></i>
                <i class="fas fa-user fs-3"></i>
            </a> -->
    <div></div>
  </app-nav>

  <div>
    <div
      class="d-flex justify-content-between align-items-center card-body p-1"
    >
      <div class="d-flex">
        <div class="request-card-icon">
          <img src="../../../../assets/aline.PNG" class="img-fluid" />
        </div>
        <div>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2">
              <h5 class="m-0">Aline</h5>
              <i class="fas fa-star text-warning"></i>
            </div>
          </div>

          <div class="d-flex gap-1">
            <p style="color: var(--premium) !important">Minha conta</p>
            <!-- <p>{{ card.service }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <ul class="nav flex-column">
    <li class="nav-item">
      <p class="nav-link d-flex align-items-center" href="#">
        <i class="fas fa-bell me-2"></i> Notificações
      </p>
    </li>
    <li class="nav-item">
      <p
        class="nav-link d-flex align-items-center"
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-ad me-2"></i> Meus Anúncios
      </p>
    </li>
    <li class="nav-item">
      <p class="nav-link d-flex align-items-center" href="#">
        <i class="fas fa-question-circle me-2"></i> Central de Ajuda
      </p>
    </li>
    <li class="nav-item mt-3">
      <p class="nav-link d-flex align-items-center" href="#">
        <i class="fas fa-sign-out-alt me-2"></i> Sair
      </p>
    </li>
  </ul>
</section>
