.profile p {
  color: var(--primary);
}
.request-card-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border: 3px solid var(--premium);
  /* Borda rosa */
  border-radius: 50%;
  /* Garante que a borda seja circular */
  overflow: hidden;
  /* Garante que a imagem se encaixe dentro do círculo */
}

.request-card-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Faz com que a imagem se ajuste ao contêiner sem distorcer */
  border-radius: 50%;
  /* Certifique-se de que a imagem tenha bordas arredondadas */
}
.request-card-icon i {
  font-size: 2rem;
  color: var(--primary) !important;
}
.nav-link {
    color: var(--secondary) !important;
    cursor: pointer;
}
.nav-link i {
    color: var(--primary) !important;
    cursor: pointer;
}