<app-nav>
  <a
    left-content
    routerLink="/tudu-professional/historic"
    class="text-decoration-none text-dark"
    style="margin-right: 10px"
  >
    <i class="fas fa-arrow-left"></i>
  </a>

  <h3 central-content class="title-page m-0">PENDENTES</h3>

  <i
    right-content
    class="fas fa-question-circle"
    style="font-size: 1.5em; color: var(--primary)"
    title="Clique para mais informações"
  ></i>

  <div header-menu>
    <div class="tab-bar d-flex justify-content-between position-relative hr-nav-bottom" >
      <a
        *ngFor="let item of headerPageOptions; let i = index"
        class="tab-link"
        [class.active]="selectedIndex === i"
        (click)="selectItem(i)"
        [attr.aria-current]="selectedIndex === i ? 'page' : null"
      >
        {{ item }}
      </a>
      <div
        class="tab-indicator"
        [ngStyle]="{ transform: 'translateX(' + selectedIndex * 100 + '%)' }"
      ></div>
    </div>
  </div>
</app-nav>

<div *ngIf="cards.length >= 1" class="mt-5 pt-1">
  <!-- <app-calendar
    [hideCalendarInput]="true"
    [markedDates]="yourMarkedDatesArray"
    [showWeekView]="true"
  >
  </app-calendar> -->
</div>

<div class="container" *ngIf="isLoading">
  <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
</div>

<section
  class="max-w-4xl mx-auto lg:px-8 d-flex flex-column justify-content-center align-items-center mt-1"
>
  <!-- Template único para ambos os status -->
  <div class="container" *ngIf="selectedIndex === 0 || selectedIndex === 1">
    <div class="row g-3 m-0 p-0">
      <div class="col-12" *ngFor="let card of cards">
        <div class="request-card" *ngFor="let candidatura of card.candidaturas">
          <div class="request-card-header bg-light card-header p-3">
            <div class="request-card-icon border-0">
              <i
                [class]="card.icon"
                style="color: var(--primary) !important"
              ></i>
            </div>
            <div class="col-11 request-card-title">
              <div class="d-flex align-items-center">
                <h5>{{ card.categoria }}</h5>
              </div>
              <p
                class="request-card-description truncate-text mb-0 text-break"
              ></p>
              <p class="request-card-description truncate-text text-break">
                {{ card.address.street }}, {{ card.address.number }} -
                {{ card.address.city }} - {{ card.address.state }}
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-around align-items-center">
            <div
              class="request-card-body card-body d-flex flex-column gap-4 p-3 mb-0"
            >
              <div
                class="d-flex justify-content-between align-items-center mb-2"
                style="margin-top: -15px"
              >
                <p>
                  <!-- Exibe status com ícone e cor correspondente -->
                  <span
                    [style.color]="selectedIndex === 0 ? 'green' : 'red'"
                    [style.fontWeight]="'bold'"
                  >
                  {{ selectedIndex === 0 ? " CONCLUÍDO" : " CANCELADO" }}
                  <i
                    [class]="
                      selectedIndex === 0
                        ? 'fas fa-check-circle'
                        : 'fas fa-times-circle'
                    "
                  ></i>
                  </span>
                  <br />{{ formatarHorario(card) }}
                </p>
                <p class="text-end">Pedido <br />#{{ card.id_pedido }}</p>
              </div>

              <hr />

              <div>
                <p style="margin-bottom: -2px">Descrição</p>
                <p class="request-card-description w-100">
                  {{ card.subcategoria }}
                </p>
                <p class="request-card-description">
                  {{ card.serviceDescription }}
                </p>
              </div>

              <hr />
            </div>
          </div>
          <div
            class="d-flex justify-content-between align-items-center card-footer p-3"
          >
            <div
              class="container d-flex justify-content-start"
              style="padding-left: 0px"
            >
              <h2>
                {{
                  candidatura.valor_negociado !== card.valor
                    ? (candidatura.valor_negociado | currency : "BRL")
                    : (card.valor | currency : "BRL")
                }}
              </h2>
            </div>
            <button
              (click)="goToDetails(card.id_pedido)"
              class="request-quote-btn d-flex align-items-center gap-2"
              style="
                border: 1px solid var(--tag-p-grey);
                color: var(--primary);
                background-color: var(--light);
              "
            >
              <i
                class="fas fa-search"
                style="color: var(--secondary) !important"
              ></i>
              Detalhes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cards.length === 0"
    class="d-flex align-items-center justify-content-center mt-5 pt-5"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i
        class="fas fa-file-lines"
        style="font-size: 5em; color: var(--tag-p-grey)"
      ></i>
      <p class="fs-3">Você ainda não possui pedidos</p>
      <button class="btn btn-primary mt-3" routerLink="/tudu-professional/home">
        Buscar serviços
      </button>
    </div>
  </div>
</section>

<div class="container mt-5 pt-5"></div>
<!-- <lib-tudu-ui-calendar></lib-tudu-ui-calendar> -->
