<lib-nav>
  <a
    left-content
    routerLink="/tudu-professional/historic"
    class="text-decoration-none text-dark"
    style="margin-right: 10px"
  >
    <i class="fas fa-arrow-left" style="color: var(--light) !important"></i>
  </a>

  <h3 central-content class="title-page m-0" style="color: var(--light)">
    HISTÓRICO
  </h3>

  <i
    right-content
    class="fas fa-question-circle"
    style="font-size: 1.5em; color: var(--primary); color: var(--light)"
    title="Clique para mais informações"
  ></i>

  <div header-menu>
    <div
      class="tab-bar d-flex justify-content-between position-relative hr-nav-bottom"
    >
      <a
        *ngFor="let item of headerPageOptions; let i = index"
        class="tab-link"
        [class.active]="selectedIndex === i"
        (click)="selectItem(i)"
        [attr.aria-current]="selectedIndex === i ? 'page' : null"
      >
        {{ item }}
      </a>
      <div
        class="tab-indicator"
        [ngStyle]="{
          transform: 'translateX(' + selectedIndex * 100 + '%)',
          width: 100 / headerPageOptions.length + '%'
        }"
      ></div>
    </div>
  </div>
</lib-nav>

<div *ngIf="cards.length >= 1" class="mt-5 pt-1">
  <!-- <app-calendar
    [hideCalendarInput]="true"
    [markedDates]="yourMarkedDatesArray"
    [showWeekView]="true"
  >
  </app-calendar> -->
</div>

<section class="max-w-4xl mx-auto lg:px-8 pt-5">
  <div class="container" *ngIf="isLoading">
    <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
  </div>

  <!-- Template Unificado -->
  <div class="container mx-auto" *ngIf="cards.length > 0 || isLoading">
    <div class="row g-3 m-0 p-0">
      <!-- Template único para ambos os status -->
      <ng-container *ngIf="selectedIndex === 0 || selectedIndex === 1">
        <div class="col-12 m-0 p-0" *ngFor="let card of cards">
          <ng-container *ngFor="let candidatura of card.candidaturas">
            <lib-card-layout
              [statusPedido]="card.status_pedido"
              [cardTemplateIndicator]="1"
            >
              <!-- Header -->
              <div
                service-icon
                class="cursor-pointer"
                (click)="goToDetails(card.id_pedido)"
              >
                <i
                  [class]="card.icon"
                  class="text-2xl"
                  style="color: var(--light) !important"
                ></i>
              </div>

              <div
                service-title
                (click)="goToDetails(card.id_pedido)"
                class="cursor-pointer"
              >
                <div>{{ card.categoria }}</div>
              </div>

              <div service-address>
                <i
                  class="fas fa-map-marker-alt text-xs mr-1"
                  style="font-size: 12px; color: var(--primary) !important"
                ></i>
                {{ card.address.city }}, {{ card.address.state }}
              </div>

              <i
                details-btn
                (click)="goToDetails(card.id_pedido)"
                class="fa-solid fa-magnifying-glass cursor-pointer"
                style="color: var(--primary) !important"
              ></i>

              <div order-number>#{{ card.id_pedido }}</div>

              <!-- Status -->
              <div status-badge class="status-badge">
                <i
                  [class]="
                    selectedIndex === 0
                      ? 'fas fa-check-circle'
                      : 'fas fa-times-circle'
                  "
                  class="text-xs mr-1"
                  [style.color]="selectedIndex === 0 ? 'green' : 'red'"
                ></i>
                {{ selectedIndex === 0 ? "CONCLUÍDO" : "CANCELADO" }}
              </div>

              <div conclusion-date>
                <span class="info-value">{{ formatarHorario(card) }}</span>
              </div>

              <!-- Descrição -->
              <div description class="description text-gray-700">
                <p style="margin-bottom: 8px" class="font-semibold">
                  Descrição
                </p>
                <p>{{ card.subcategoria }}</p>
                <p>{{ card.serviceDescription }}</p>
              </div>

              <!-- Footer -->
              <button
                main-btn
                class="request-quote-btn text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden text-ellipsis"
                (click)="goToDetails(card.id_pedido)"
                style="
                  border: 1px solid var(--tag-p-grey);
                  color: var(--primary);
                  background-color: var(--light);
                  width: 100%;
                "
              >
                <i
                  class="fas fa-search"
                  style="color: var(--secondary) !important"
                ></i>
                Detalhes
              </button>

              <div price>
                {{ card.chargeInfos?.total_amount | currency : "BRL" }}
              </div>
            </lib-card-layout>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Mensagem quando não há cards -->
  <div
    *ngIf="cards.length === 0 && !isLoading"
    class="d-flex align-items-center justify-content-center mt-5 pt-5"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i
        class="fas fa-file-lines"
        style="font-size: 5em; color: var(--tag-p-grey)"
      ></i>
      <p class="fs-3">Você ainda não possui pedidos</p>
      <button
        *ngIf="selectedIndex === 0"
        class="btn btn-primary mt-3"
        routerLink="/tudu-professional/home"
      >
        Buscar serviços
      </button>
    </div>
  </div>
</section>

<div class="container mt-5 pt-5"></div>
<!-- <lib-tudu-ui-calendar></lib-tudu-ui-calendar> -->
