<app-nav>
  <div left-content>
    <a (click)="back()" class="text-decoration-none text-dark">
      <i
        class="fas fa-arrow-left me-2"
        style="font-size: 1.5em; color: var(--primary)"
      ></i>
    </a>
  </div>
  <div central-content>
    <h3 class="title-page m-0">Detalhes</h3>
  </div>
  <div right-content>
    <i
      class="fas fa-question-circle"
      style="font-size: 1.5em; color: var(--primary)"
      title="Clique para mais informações"
      (click)="openModal()"
    ></i>
  </div>
</app-nav>
<section
  class="max-w-4xl mx-auto lg:px-8"
  style="margin-bottom: 6em; margin-top: -2em"
>
  <div class="container mt-4 pt-5" *ngFor="let card of cards">
    <!-- Header da tela -->
    <div class="d-flex align-items-center mb-4">
      <i
        [class]="card.icon"
        class="me-2 fs-1"
        style="color: var(--primary) !important"
      ></i>
      <h4 class="m-0">{{ card.categoria }}</h4>
    </div>

    <!-- Body da tela -->
    <div class="card mb-4 bg-white rounded-xl shadow-sm p-1 mb-6">
      <div class="card-body">
        <p class="card-text">
          <strong>Número do Pedido:</strong> #{{ card.id_pedido }}
        </p>
        <p class="card-text">
          <strong>Solicitado em:</strong>
          {{ card.createdAt | date : "dd/MM/yyyy - HH:mm" }}
        </p>
      </div>
    </div>

    <!-- Sessão de Resumo do Pedido -->
    <div class="card mb-4 bg-white rounded-xl shadow-sm p-1 mb-6">
      <div class="card-body d-flex flex-column gap-3">
        <h4 class="card-title mb-3"><strong>Resumo do Pedido</strong></h4>
        <p class="card-text"><strong>Serviços:</strong> {{ card.categoria }}</p>
        <p class="card-text">
          <strong>Descrição: </strong>{{ card.subcategoria }}
        </p>
        <p class="card-text">
          <strong>Endereço: </strong> {{ card.address.street }},
          {{ card.address.number }} - {{ card.address.city }} -
          {{ card.address.state }}
        </p>

        <p *ngIf="card.data_finalizacao !== null">
          Concluido em:
          {{ card.data_finalizacao | date : "dd/MM/yyyy - HH:mm" }}
        </p>

        <div *ngIf="card.imagens && card.imagens.length > 0" class="mt-6">
          <h4 class="mb-2"><strong>Imagens Adicionadas:</strong></h4>
          <div
            class="relative w-full aspect-video bg-gray-200 rounded-lg overflow-hidden shadow-md flex items-center justify-center"
          >
            <img
              [src]="card.imagens[card.currentImageIndex || 0]"
              alt="Imagem do Serviço"
              class="object-cover w-full h-full"
              onerror="this.onerror=null;this.src='https://placehold.co/600x400/E0E0E0/616161?text=Imagem+indisponível';"
            />
            <button
              *ngIf="card.imagens.length > 1"
              (click)="navigateImages(card, -1)"
              class="absolute left-2 top-1/2 -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 transition-colors duration-200 focus:outline-none"
            >
              <i class="fas fa-chevron-left"></i>
            </button>
            <button
              *ngIf="card.imagens.length > 1"
              (click)="navigateImages(card, 1)"
              class="absolute right-2 top-1/2 -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full hover:bg-opacity-75 transition-colors duration-200 focus:outline-none"
            >
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>

          <div
            *ngIf="card.imagens.length > 1"
            class="flex overflow-x-auto mt-3 space-x-2 p-1"
          >
            <img
              *ngFor="let imagem of card.imagens; let imgIndex = index"
              [src]="imagem"
              alt="Miniatura"
              class="w-20 h-20 object-cover rounded-md cursor-pointer border-2 transition-all duration-200"
              [ngClass]="{
                'border-pink-500 shadow-md':
                  imgIndex === (card.currentImageIndex || 0),
                'border-transparent hover:border-gray-300':
                  imgIndex !== (card.currentImageIndex || 0)
              }"
              (click)="selectImage(card, imgIndex)"
              onerror="this.onerror=null;this.src='https://placehold.co/80x80/E0E0E0/616161?text=Mini';"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Componente reutilizável de pagamento -->
    <div>
      <!-- <app-payments></app-payments> -->
    </div>
  </div>
</section>

<!-- modal -->
<div [ngClass]="{ 'modal-backdrop': isModalVisible }"></div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="isModalVisible"
  [ngClass]="{ show: isModalVisible }"
  style="display: block"
>
  <div class="modal-dialog modal-dialog-bottom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escolha uma opção</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body d-flex flex-column gap-2">
        <button
          class="btn-ui btn-secondary w-100 mb-2"
          (click)="editarAnuncio()"
        >
          <i class="fas fa-edit"></i> Editar anúncio
        </button>
        <button class="btn-ui btn-danger w-100 mb-2" (click)="cancelarPedido()">
          <i class="fas fa-times-circle"></i> Cancelar pedido
        </button>
        <button class="btn-ui btn-info w-100" (click)="falarComAtendente()">
          <i class="fas fa-comment-dots"></i> Falar com atendente
        </button>
      </div>
    </div>
  </div>
</div>
