<!-- Overlay -->
<div
  *ngIf="openClose"
  (click)="openClose = false"
  class="fixed inset-0 bg-black bg-opacity-40 z-40 md:hidden"
></div>

<!-- Navbar Container -->
<div
  class="fixed top-0 left-0 right-0 z-50 bg-white shadow-none transition-transform duration-300 ease-out"
  [class.-translate-y-full]="!isHeaderVisible"
>
  <!-- Main Navbar -->
  <div class="w-full">
    <div class="mx-auto px-4 h-16 flex items-center justify-between">
      <!-- Conteúdo principal -->
      <ng-content select="[left-content]"></ng-content>
      <ng-content select="[central-content]"></ng-content>
      <ng-content select="[right-content]"></ng-content>
    </div>
  </div>

  <!-- Header Menu (Submenu) -->
  <div header-menu class="w-full bg-white border-t border-gray-200">
    <ng-content select="[header-menu]"></ng-content>
  </div>
</div>
