section {
  margin-top: -3em;
}

h5,
p {
  font-size: 16px !important;
}

.calendar-container {
  display: flex;
  overflow-x: auto;
}

.day-box {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f8f9fa;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
}

.day-box.today {
  background: #007bff;
  color: white;
  font-weight: bold;
}

.day-box.has-event {
  background: #f8f9fa;
  color: black;
  font-weight: bold;
  border: 2px solid var(--primary);
}

.has-event {
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.tab-bar {
  display: flex;
  position: relative;
  /* border-bottom: 1px solid #eee; */
}

.tab-link {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 16px;
  color: #999;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 500;
}

.tab-link.active {
  color: var(--primary);
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 2); /* Altere se tiver mais ou menos itens */
  height: 3px;
  background-color: var(--primary);
  transition: transform 0.3s ease;
  border-radius: 4px 4px 0 0;
}

.empty-state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68vh;
  padding: 2rem;
  flex-direction: column;
}

.empty-state-card {
  max-width: 500px;
  width: 100%;
  background: white;
  border: 1px solid #e9ecef;
}

.empty-state-icon {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

.empty-state-content h3 {
  color: #343a40;
}

.text-gray-800 {
  color: #343a40 !important;
}

@media (max-width: 350px) {
  .request-card h3 {
    font-size: 20px;
  }
}

@media (max-width: 998px) {
  .request-card h3 {
    font-size: 21px;
  }
}
