<section>
  <app-nav>
    <a
      routerLink="/home"
      class="text-decoration-none text-dark"
      style="margin-right: 10px"
    >
      <i class="fas fa-arrow-left"></i>
    </a>
    <!-- <a routerLink="/" class="logo">
      <img src="../../../assets/logo-rosa.webp" class="img-fluid" style="width: 4em;" alt="error" />
    </a> -->

    <!-- <h3 class="m-0">Em andamento</h3> -->
    <h3 class="title-page m-0">Em andamento</h3>

    <i
      class="fas fa-question-circle"
      style="font-size: 1.5em; color: var(--primary)"
      title="Clique para mais informações"
    ></i>
  </app-nav>

  <div id="budgets" class="container mt-5">
    <h4 class="text-start">Em andamento</h4>
  </div>

  <div id="my-budgets" class="container">
    <div class="row g-3 m-0 p-0">
      <!-- Linha Bootstrap com espaçamento -->
      <div
        class="col-12 col-md-6 col-lg-6 m-0 p-2"
        *ngFor="let card of cards; let i = index"
        data-aos="fade-down"
      >
        <!-- Colunas responsivas -->
        <div class="request-card d-flex flex-column gap-4">
          <div class="card-header p-3">
            <p class="fw-bold m-0">Previsão inicio do serviço</p>
            <h3 class="fw-bold">{{ card.status }}</h3>
          </div>

          <div
            class="d-flex justify-content-between align-items-center card-body p-3"
          >
            <div class="d-flex">
              <div class="request-card-icon">
                <img [src]="card.photo" class="img-fluid" />
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center gap-2">
                    <h5 class="m-0">{{ card.name }}</h5>
                    <i class="fas fa-star text-warning"></i>
                  </div>
                </div>

                <div class="d-flex gap-1">
                  <h5>Serviço:</h5>
                  <p>{{ card.service }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="request-card-footer d-flex card-footer gap-2">
            <button style="color: var(--light)" class="request-quote-btn col-6">
              Ajuda
            </button>

            <button
              class="request-quote-btn col-6"
              style="color: var(--light)"
              routerLink="/home/progress-detail"
            >
              Acompanhar
            </button>
            <!-- <button class="request-quote-btn col-6"
              [ngClass]="{'change-button': card.editedPrice && card.editedPrice !== card.price}"
              style="background-color: var(--primary); color: var(--light);" routerLink="/home/progress">
              {{ card.editedPrice && card.editedPrice !== card.price ? 'Negociar' : 'Contratar' }}
            </button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- EXPETION PARA QUANDO NAO HOVER PERDIDOS PENDENTES -->
    <div
      *ngIf="cards.length === 0"
      class="d-flex align-items-center justify-content-center"
      style="height: 68vh"
    >
      <div class="d-flex flex-column align-items-center gap-3">
        <i class="fas fa-file-lines" style="font-size: 5em"></i>
        <p class="fs-3">Você ainda não possui negociações</p>
        <button class="btn-ui btn-primary mt-3 send-btn" routerLink="/">
          Anúnciar Gratís
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Conteúdo da página -->
<div class="container mt-5 pt-5"></div>
