<section>
  <app-nav>
    <a
      routerLink="/tudu-professional/home"
      class="text-decoration-none text-dark"
      style="margin-right: 10px"
    >
      <i class="fas fa-arrow-left"></i>
    </a>

    <h3 class="title-page m-0">PENDENTES</h3>

    <i
      class="fas fa-question-circle"
      style="font-size: 1.5em; color: var(--primary)"
      title="Clique para mais informações"
    ></i>
  </app-nav>

  <div *ngIf="cards.length >= 1">
    <app-calendar [markedDates]="yourMarkedDatesArray" [showWeekView]="true">
    </app-calendar>
  </div>

  <!-- SERVIÇOS EM ANDAMENTO -->
  <div id="in-progress" class="container">
    <div class="row g-3 m-0 p-0">
      <div
        class="col-12 col-md-6 col-lg-6 m-0 p-2"
        *ngFor="let card of cards"
        data-aos="fade-down"
      >
        <div class="request-card position-relative">
          <!-- Pega a candidatura do prestador logado -->
          <ng-container *ngIf="getMinhaCandidatura(card) as candidatura">
            <!-- Notificação (Toast) no topo do card -->
            <div
              *ngIf="candidatura.valor_negociado !== ''"
              class="toast show position-absolute top-0 end-0 m-1"
              role="alert"
              aria-live="assertive"
              aria-atomic="true"
            >
              <div class="toast-header">
                <strong class="me-auto">Notificação</strong>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                ></button>
              </div>
              <div class="toast-body">
                O cliente gostaria de pagar
                <span class="fw-bold text-black">
                  R$ {{ candidatura.valor_negociado }}
                </span>
                pelo serviço.<br />
                Você pode aceitar ou clicar no <i class="fa fa-pencil"></i> para
                renegociar.
              </div>
            </div>

            <!-- Cabeçalho do Card -->
            <div class="request-card-header p-3">
              <div class="col-1 request-card-icon border-0">
                <i
                  [class]="card.icon"
                  style="color: var(--primary) !important"
                ></i>
              </div>
              <div class="col-11 request-card-title">
                <div class="d-flex align-items-center">
                  <h5>{{ card.categoria }}</h5>
                </div>
                <p class="request-card-description truncate-text">
                  {{ card.address.street }}, {{ card.address.number }} -
                  {{ card.address.city }} - {{ card.address.state }}
                </p>
              </div>
            </div>

            <!-- Corpo do Card -->
            <div class="request-card-body card-body p-3">
              <p class="request-card-number">Pedido #{{ card.id_pedido }}</p>
              <p class="request-card-description truncate-text">
                {{ card.subcategoria }}
              </p>
            </div>

            <!-- Input de valores e horários -->
            <div class="custom-input-container container">
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="candidatura.valor_negociado"
                  [placeholder]="card.valor | currency : 'BRL'"
                  [disabled]="true"
                />
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">#</span>
                <input
                  [readonly]="true"
                  type="text"
                  class="form-control"
                  [placeholder]="
                    card.horario_preferencial | date : 'dd/MM/yyyy - HH:mm'
                  "
                  [disabled]="true"
                />
              </div>
            </div>

            <!-- Botões de ação -->
            <div class="request-card-footer d-flex gap-2 p-3">
              <button
                class="request-quote-btn col-6"
                [ngClass]="{
                  'change-button':
                    candidatura.valor_negociado &&
                    candidatura.valor_negociado !== card.valor
                }"
                style="background-color: var(--primary); color: var(--light)"
                routerLink="/tudu-professional/progress-detail"
              >
                Iniciar
              </button>
              <button
                style="
                  color: var(--primary) !important;
                  background-color: var(--light) !important;
                  border: 1px solid var(--primary) !important;
                "
                class="request-quote-btn bg-secondary col-6"
              >
                Detalhes
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cards.length === 0"
    class="d-flex align-items-center justify-content-center mt-5 pt-5"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i
        class="fas fa-file-lines"
        style="font-size: 5em; color: var(--tag-p-grey)"
      ></i>
      <p class="fs-3">Você ainda não possui pedidos</p>
      <button
        class="btn-ui btn-primary mt-3 send-btn"
        routerLink="/tudu-professional/home"
      >
        Buscar serviços
      </button>
    </div>
  </div>
</section>

<div class="container mt-5 pt-5"></div>
<!-- <lib-tudu-ui-calendar></lib-tudu-ui-calendar> -->
