#flow-end h2 {
    color: var(--secondary)!important;
}


#flow-end button {
    color: var(--primary)!important;
    background-color: var(--light)!important;
    border: 1px solid var(--primary)!important;
    /* border: 1px solid var(--primary)!important; */
}
.card {
    max-width: 500px;
    margin: auto;
    border-radius: 12px;
  }
  
  .stars {
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .text-muted {
    color: #ddd !important;
  }
  