<app-nav class="pb-5 mb-4">
  <div left-content class="d-flex align-items-center">
    <a routerLink="/tudu/home" class="logo">
      <img
        src="../../../assets/logo-rosa.webp"
        class="img-fluid"
        style="width: 4em"
        alt="error"
      />
    </a>
    <h3 style="margin-bottom: 0px; margin-top: 3px; font-size: 17px">
      Professional
    </h3>
  </div>

  <div central-content></div>

  <div right-content></div>

  <div header-menu>
    <div class="tab-bar d-flex justify-content-between position-relative">
      <a
        *ngFor="let item of headerPageOptions; let i = index"
        class="tab-link"
        [class.active]="selectedIndex === i"
        (click)="selectItem(i)"
        [attr.aria-current]="selectedIndex === i ? 'page' : null"
      >
        {{ item }}
      </a>
      <div
        class="tab-indicator"
        [ngStyle]="{ transform: 'translateX(' + selectedIndex * 100 + '%)' }"
      ></div>
    </div>
  </div>
</app-nav>

<section class="max-w-4xl mx-auto lg:px-8">
  <div class="max-w-4xl mx-auto lg:px-8 px-2 mb-2">
    <div class="container">
      <button
        (click)="toggleFilters()"
        class="w-full py-2 px-4 bg-gray-200 text-gray-800 rounded-lg shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 mb-4"
      >
        {{ showFilters ? "Esconder Filtros" : "Mostrar Filtros" }}
        <i
          class="fas"
          [ngClass]="showFilters ? 'fa-chevron-up' : 'fa-chevron-down'"
        ></i>
      </button>

      <div *ngIf="showFilters" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Período</h4>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <label
                for="dataInicial"
                class="block text-sm font-medium text-gray-700"
                >Data Inicial</label
              >
              <input
                type="date"
                id="dataInicial"
                [(ngModel)]="filters.dataInicial"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
            <div>
              <label
                for="dataFinal"
                class="block text-sm font-medium text-gray-700"
                >Data Final</label
              >
              <input
                type="date"
                id="dataFinal"
                [(ngModel)]="filters.dataFinal"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
          </div>
        </div>

        <div class="p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Faixa de Valor</h4>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <label
                for="valorMin"
                class="block text-sm font-medium text-gray-700"
                >Valor Mínimo</label
              >
              <input
                type="text"
                currencyMask
                inputmode="numeric"
                [options]="currencyOptions"
                placeholder="0,00"
                min="0"
                step="0.01"
                id="valorMin"
                [(ngModel)]="filters.valorMin"
                placeholder="R$ 0,00"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
            <div>
              <label
                for="valorMax"
                class="block text-sm font-medium text-gray-700"
                >Valor Máximo</label
              >
              <input
                type="text"
                currencyMask
                inputmode="numeric"
                [options]="currencyOptions"
                placeholder="0,00"
                min="0"
                step="0.01"
                id="valorMax"
                [(ngModel)]="filters.valorMax"
                placeholder="R$ 9999,99"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
          </div>
        </div>

        <div class="md:col-span-2 p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Categorias</h4>
          <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2">
            <div *ngFor="let category of availableCategories">
              <label class="inline-flex items-center">
                <input
                  type="checkbox"
                  [value]="category"
                  (change)="onCategoryChange($event)"
                  [checked]="filters.categorias.includes(category)"
                  class="form-checkbox h-5 w-5 text-indigo-600 rounded"
                />
                <span class="ml-2 text-gray-700">{{ category }}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="md:col-span-2 flex justify-content-between mt-2 gap-1">
          <button
            (click)="cleanFilter()"
            class="py-2 px-6 bg-primary bg-transparent border-primary border-1 text-primary font-semibold rounded-lg shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75"
          >
            Limpar Filtros
          </button>
          <button
            (click)="applyFilter()"
            class="py-2 px-6 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75"
          >
            Aplicar Filtros
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="isLoading">
    <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
  </div>

  <!-- Item 0 - Meus Pedidos -->
  <!-- data-aos="fade-down" -->
  <div
    class="container"
    *ngIf="(selectedIndex === 0 || selectedIndex === 1) && !showFilters"
  >
    <div class="col-12 m-0 p-2" *ngFor="let card of cards">
      <div>
        <div
          *ngIf="
            selectedIndex === 1 && card.candidaturas[0].status === 'recusado'
          "
          class="toast show top-0 end-0 m-1"
          style="z-index: 1000"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <strong class="me-auto">Notificação</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">
            O cliente recusou seu lance de
            <span class="fw-bold text-black">
              {{ card.valorFormatted | currency : "BRL" }} </span
            >.<br />
            Você pode dar um novo lance clicando em
            <i class="fa fa-pencil"></i>
            ou
            <i class="fa fa-calendar-alt"></i>
          </div>
        </div>

        <div class="request-card">
          <!-- Header -->
          <div class="request-card-header p-3 border-b border-gray-200">
            <div class="request-card-icon mr-3 flex-shrink-0">
              <i
                [class]="card.icon"
                class="text-2xl"
                style="color: var(--primary) !important"
              ></i>
            </div>
            <div class="request-card-title flex-grow">
              <div class="flex justify-between items-start">
                <div class="d-flex align-items-center">
                  <h5>{{ card.categoria }}</h5>
                </div>
              </div>
              <p
                class="request-card-description text-sm text-gray-600 mt-1 truncate-text"
              >
                {{ card.address.city }}, {{ card.address.state }} -
                {{ card.address.neighborhood }}
                <!-- {{ card.address.street }}, {{ card.address.number }} -
                {{ card.address.city }} - {{ card.address.state }} -->
              </p>

              <span
                class="text-sm font-medium text-gray-500 bg-gray-100 rounded p-1"
                style="margin: -30px 0px 30px 0px"
              >
                Pedido #{{ card.id_pedido }}
              </span>
            </div>
          </div>

          <div class="request-card-body card-body p-3">
            <!-- Filtros de subcategoria com destaque -->
            <div class="mb-4" *ngIf="card.subcategoria">
              <div class="flex flex-wrap gap-2">
                <span
                  *ngFor="let filtro of card.subcategoria.split(',')"
                  class="px-3 py-1 rounded-full text-xs font-medium text-white"
                  style="
                    border: 1px solid var(--primary);
                    color: var(--primary) !important;
                  "
                >
                  {{ filtro.trim() }}
                </span>
              </div>
            </div>

            <div *ngIf="selectedIndex === 1">
              <h5>
                Valor orçamento:
                <span style="color: var(--blue)">{{
                  card.valor | currency : "BRL"
                }}</span>
              </h5>
            </div>
            <p class="request-card-description">
              {{ card.serviceDescription }}
            </p>
          </div>

          <div class="custom-input-container container">
            <div
              *ngIf="selectedIndex === 1"
              class="d-flex justify-content-start"
            >
              <p>
                {{
                  card.candidaturas &&
                  card.candidaturas.length > 0 &&
                  card.candidaturas[0].status === "recusado"
                    ? "Meu lance atual"
                    : "Meu lance"
                }}
              </p>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input
                type="text"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                [(ngModel)]="card.valor_negociado"
                [placeholder]="card.valorFormatted | currency : 'BRL'"
                [disabled]="!!card.renegotiateActive"
                currencyMask
                inputmode="numeric"
                [options]="currencyOptions"
                placeholder="0,00"
                min="0"
                step="0.01"
              />
              <button
                *ngIf="
                  selectedIndex === 0 ||
                  card.candidaturas[0].status === 'recusado'
                "
                [ngClass]="{
                  'change-renegotiate-btn': !card.renegotiateActive
                }"
                class="btn btn-outline-secondary"
                type="button"
                id="btn-renegotiate"
                (click)="renegotiateActive(card)"
              >
                <i
                  class="fa"
                  [ngClass]="card.renegotiateActive ? 'fa-pencil' : 'fa-undo'"
                ></i>
              </button>
            </div>
          </div>

          <div #calendarContainer>
            <div class="custom-input-container container">
              <div class="input-group mb-3">
                <span class="input-group-text">#</span>
                <input
                  [readonly]="true"
                  type="text"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                  [placeholder]="card.placeholderDataHora"
                  [disabled]="!card.calendarActive"
                  (click)="openCalendar(card)"
                />
                <button
                  *ngIf="
                    selectedIndex === 0 ||
                    card.candidaturas[0].status === 'recusado'
                  "
                  [ngClass]="{
                    'change-renegotiate-btn':
                      card.calendarActive && card.placeholderDataHora
                  }"
                  class="btn btn-outline-secondary"
                  type="button"
                  id="btn-renegotiate"
                  (click)="toggleCalendar(card, $event)"
                >
                  <i
                    class="fas"
                    [ngClass]="
                      !card.calendarActive ? 'fa-calendar-alt' : 'fa-undo'
                    "
                  ></i>
                </button>
              </div>
            </div>

            <div class="container" style="z-index: 1001">
              <app-calendar
                [hasTime]="true"
                [showWeekView]="false"
                [initialDateTime]="card.placeholderDataHora"
                [calendarActive]="card.calendarActive || false"
                [hideCalendarInput]="true"
                [hideCalendarDays]="hideCalendarDays"
                (closeCalendar)="onCalendarClose(card)"
                (dateSelectedChange)="onDateSelected(card.id_pedido, $event)"
                (timeSelectedChange)="onTimeSelected(card.id_pedido, $event)"
              >
              </app-calendar>
            </div>
          </div>

          <div
            [ngClass]="selectedIndex === 0 ? 'ajust-space' : 'ajust-space2'"
            class="request-card-footer p-3 d-flex justify-content-center align-items-center gap-2"
          >
            <!-- botão exclusivo para novo lance -->
            <button
              *ngIf="card.candidaturas[0]?.status === 'recusado'"
              (click)="makeNewPorposal(card)"
              class="request-quote-btn col-6"
              [ngClass]="
                (!card.renegotiateActive &&
                  card.valor_negociado !== card.valor) ||
                (card.calendarActive === true &&
                  dateTimeFormatted !== card.placeholderDataHora)
                  ? 'change-renegotiate-btn'
                  : 'disabled-card bg-secondary'
              "
              style="background-color: var(--primary); color: var(--light)"
            >
              <span *ngIf="!isLoadingBtn"
                ><i
                  class="fas fa-paper-plane"
                  style="color: var(--light) !important"
                ></i>
                Novo Lance</span
              >
              <span
                *ngIf="isLoadingBtn"
                class="flex items-center justify-center"
              >
                <i class="fas fa-circle-notch fa-spin mr-2"></i>
                Processando...
              </span>
            </button>
            <!-- botão exclusivo para novo lance -->

            <button
              *ngIf="selectedIndex === 0"
              (click)="updateCard(card)"
              class="request-quote-btn col-6"
              [ngClass]="{
                'change-renegotiate-btn':
                  (!card.renegotiateActive &&
                    card.valor_negociado !== card.valor) ||
                  (card.calendarActive === true &&
                    dateTimeFormatted !== card.placeholderDataHora)
              }"
              style="background-color: var(--primary); color: var(--light)"
            >
              <span *ngIf="!isLoadingBtn">
                <i
                  class="fas fa-paper-plane"
                  style="color: var(--light) !important"
                ></i>
                {{
                  (!card.renegotiateActive &&
                    card.valor_negociado !== card.valor) ||
                  (card.calendarActive &&
                    dateTimeFormatted !== card.placeholderDataHora)
                    ? "Negociar"
                    : "Candidatar-se"
                }}
              </span>

              <span
                *ngIf="isLoadingBtn"
                class="flex items-center justify-center"
              >
                <i class="fas fa-circle-notch fa-spin mr-2"></i>
                Processando...
              </span>
            </button>

            <button
              (click)="goToDetails(card.id_pedido)"
              class="request-quote-btn d-flex align-items-center gap-2 col-6 text-center justify-content-center"
              style="
                border: 1px solid var(--tag-p-grey);
                color: var(--primary);
                background-color: var(--light);
              "
            >
              <i
                class="fas fa-search"
                style="color: var(--primary) !important"
              ></i>
              Detalhes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Item 2 - Histórico -->
  <!-- data-aos="fade-down -->
  <div class="container" *ngIf="selectedIndex === 2 && !showFilters">
    <div class="row g-3 m-0 p-0">
      <div class="col-12" *ngFor="let card of cards">
        <div class="request-card" *ngFor="let candidatura of card.candidaturas">
          <div class="request-card-header bg-light card-header p-3">
            <div class="request-card-icon border-0">
              <i
                [class]="card.icon"
                style="color: var(--primary) !important"
              ></i>
            </div>
            <div class="col-11 request-card-title">
              <div class="d-flex align-items-center">
                <h5>{{ card.categoria }}</h5>
              </div>
              <p
                class="request-card-description truncate-text mb-0 text-break"
              ></p>
              <p class="request-card-description truncate-text text-break">
                {{ card.address.street }}, {{ card.address.number }} -
                {{ card.address.city }} - {{ card.address.state }}
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-around align-items-center">
            <div
              class="request-card-body card-body d-flex flex-column gap-4 p-3 mb-0"
            >
              <div
                class="d-flex justify-content-between align-items-center mb-2"
                style="margin-top: -15px"
              >
                <p>Concluído <br />{{ formatarHorario(card) }}</p>
                <p class="text-end">Pedido <br />#{{ card.id_pedido }}</p>
              </div>

              <hr />

              <div>
                <p style="margin-bottom: -2px">Descrição</p>
                <p class="request-card-description w-100">
                  {{ card.subcategoria }}
                </p>
                <p class="request-card-description">
                  {{ card.serviceDescription }}
                </p>
              </div>

              <hr />
            </div>
          </div>
          <div
            class="d-flex justify-content-between align-items-center card-footer p-3"
          >
            <div
              class="container d-flex justify-content-start"
              style="padding-left: 0px"
            >
              <h2>
                {{
                  candidatura.valor_negociado !== card.valor
                    ? (candidatura.valor_negociado | currency : "BRL")
                    : (card.valor | currency : "BRL")
                }}
              </h2>
            </div>
            <button
              (click)="goToDetails(card.id_pedido)"
              class="request-quote-btn d-flex align-items-center gap-2"
              style="
                border: 1px solid var(--tag-p-grey);
                color: var(--primary);
                background-color: var(--light);
              "
            >
              <i
                class="fas fa-search"
                style="color: var(--secondary) !important"
              ></i>
              Detalhes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="
      cards.length === 0 ||
      (selectedIndex === 0 && counts.publicado === 0) ||
      (selectedIndex === 1 && counts.andamento === 0) ||
      (selectedIndex === 2 && counts.finalizado === 0)
    "
    class="d-flex align-items-center justify-content-center"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i class="fas fa-file-lines" style="font-size: 5em"></i>
      <p class="fs-3">Ainda não há serviços disponíveis</p>
      <!-- <button class="btn-ui btn-primary mt-3 send-btn" (click)="goToShowcase()">
        Anúnciar Gratís
      </button> -->
    </div>
  </div>
</section>

<!-- MODAL -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-4 flex flex-column gap-3">
        <i
          class="fas fa-check-circle display-2"
          style="color: #43a047 !important"
        ></i>

        <h5>Proposta enviada com sucesso</h5>
        <p class="text-muted" style="color: var(--tag-p-grey) !important">
          Aguarde a confirmação do cliente. Você pode acompanhar o status do seu
          serviço na aba "Andamento".
        </p>
        <div
          class="container flex align-items-center justify-content-center gap-1 mt-2"
        >
          <!-- <button
            (click)="closeModalAndUpdate()"
            class="btn btn-outline-primary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button> -->
          <button
            (click)="goToMyProposals()"
            class="btn btn-primary col-12"
            data-bs-dismiss="modal"
          >
            Ver pedidos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-4 flex flex-column gap-3">
        <i
          class="fas fa-exclamation-circle display-2"
          style="color: #e53935 !important"
        ></i>

        <h5>Erro ao enviar a proposta</h5>
        <p class="text-muted" style="color: var(--tag-p-grey) !important">
          Ocorreu um problema ao tentar enviar sua proposta. Tente novamente
          mais tarde.
        </p>

        <div
          class="container flex align-items-center justify-content-center gap-1 mt-2"
        >
          <button
            (click)="modalSentProposal(false)"
            class="btn btn-outline-danger col-12"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 pt-3"></div>
