p {
  color: var(--tag-p-grey) !important;
  font-weight: 500;
}

i {
  color: var(--tag-p-grey) !important;
}

.request-card {
  display: flex;
  flex-direction: column;
  background: var(--light);
  border-radius: 10px;
  /* padding: 20px; */
  margin: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.request-card-title h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  color: #333;
}

.request-card-title p {
  font-size: 0.9rem;
  color: #666;
}

.request-card-body {
  margin-bottom: 20px;
}

.card-header {
  background-color: transparent;
}

.card-footer {
  background-color: transparent;
}

.request-card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.request-card-link {
  font-size: 0.9rem;
  color: rgb(90, 90, 255) !important;
  text-decoration: none;
}

.request-card-link:hover {
  text-decoration: underline;
}

.request-quote-badge {
  background: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.truncate-text {
  white-space: nowrap;
  /* Não permite que o texto quebre a linha */
  overflow: hidden;
  /* Esconde o texto que ultrapassa o limite do contêiner */
  text-overflow: ellipsis;
  /* Adiciona as reticências (...) ao final do texto */
}

.request-quote-btn {
  background: var(--primary);
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.request-quote-btn:hover {
  background: var(--primary-dark);
}

.disabled-card {
  pointer-events: none;
  /* Desabilita interações com o card */
  opacity: 0.3;
  /* Reduz a opacidade para indicar desabilitado */
  cursor: not-allowed;
  /* Mostra o cursor de "não permitido" */
}

/* .carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
.carousel-item {
  transition: transform 0.6s ease-in-out;
} */

@media (max-width: 400px) {
  .request-quote-btn {
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 600;
  }

  .truncate-text {
    max-width: 70%;
  }
}
