<lib-nav class="pb-5 mb-4">
  <div left-content class="d-flex align-items-center">
    <a routerLink="/tudu-professional/home" class="block">
      <img
        src="../../../assets/logo-branco.webp"
        style="width: 4em; min-width: 4em"
        class="logo-image"
        alt="Tudü"
      />
    </a>
    <h3
      style="
        margin-bottom: 0px;
        margin-top: 3px;
        font-size: 17px;
        color: var(--light);
      "
    >
      Professional
    </h3>
  </div>

  <div central-content></div>

  <div right-content></div>

  <div header-menu>
    <div
      class="tab-bar d-flex justify-content-between position-relative hr-nav-bottom"
    >
      <a
        *ngFor="let item of headerPageOptions; let i = index"
        class="tab-link"
        [class.active]="selectedIndex === i"
        (click)="selectItem(i)"
        [attr.aria-current]="selectedIndex === i ? 'page' : null"
      >
        {{ item }}
      </a>
      <div
        class="tab-indicator"
        [ngStyle]="{
          transform: 'translateX(' + selectedIndex * 100 + '%)',
          width: 100 / headerPageOptions.length + '%'
        }"
      ></div>
    </div>
  </div>
</lib-nav>

<section class="max-w-4xl mx-auto lg:px-8 mt-12">
  <!-- Filtros (mantido igual) -->
  <div class="max-w-4xl mx-auto lg:px-8 px-2 mb-2">
    <div class="container">
      <button
        (click)="toggleFilters()"
        class="w-full py-2 px-4 bg-gray-200 text-gray-800 rounded-lg shadow-sm hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400 mb-4"
      >
        {{ showFilters ? "Esconder Filtros" : "Mostrar Filtros" }}
        <i
          class="fas"
          [ngClass]="showFilters ? 'fa-chevron-up' : 'fa-chevron-down'"
        ></i>
      </button>

      <div *ngIf="showFilters" class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- ... conteúdo dos filtros mantido igual ... -->
        <div class="p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Período</h4>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <label
                for="dataInicial"
                class="block text-sm font-medium text-gray-700"
                >Data Inicial</label
              >
              <input
                type="date"
                id="dataInicial"
                [(ngModel)]="filters.dataInicial"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
            <div>
              <label
                for="dataFinal"
                class="block text-sm font-medium text-gray-700"
                >Data Final</label
              >
              <input
                type="date"
                id="dataFinal"
                [(ngModel)]="filters.dataFinal"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
          </div>
        </div>

        <div class="p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Faixa de Valor</h4>
          <div class="grid grid-cols-2 gap-2">
            <div>
              <label
                for="valorMin"
                class="block text-sm font-medium text-gray-700"
                >Valor Mínimo</label
              >
              <input
                type="text"
                currencyMask
                inputmode="numeric"
                [options]="currencyOptions"
                placeholder="0,00"
                min="0"
                step="0.01"
                id="valorMin"
                [(ngModel)]="filters.valorMin"
                placeholder="R$ 0,00"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
            <div>
              <label
                for="valorMax"
                class="block text-sm font-medium text-gray-700"
                >Valor Máximo</label
              >
              <input
                type="text"
                currencyMask
                inputmode="numeric"
                [options]="currencyOptions"
                placeholder="0,00"
                min="0"
                step="0.01"
                id="valorMax"
                [(ngModel)]="filters.valorMax"
                placeholder="R$ 9999,99"
                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              />
            </div>
          </div>
        </div>

        <div class="md:col-span-2 p-4 bg-white rounded-lg shadow-md">
          <h4 class="font-bold mb-2">Categorias</h4>
          <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-2">
            <div *ngFor="let category of availableCategories">
              <label class="inline-flex items-center">
                <input
                  type="checkbox"
                  [value]="category"
                  (change)="onCategoryChange($event)"
                  [checked]="filters.categorias.includes(category)"
                  class="form-checkbox h-5 w-5 text-indigo-600 rounded"
                />
                <span class="ml-2 text-gray-700">{{ category }}</span>
              </label>
            </div>
          </div>
        </div>

        <div class="md:col-span-2 flex justify-content-between mt-2 gap-1">
          <button
            (click)="cleanFilter()"
            class="py-2 px-6 bg-primary bg-transparent border-primary border-1 text-primary font-semibold rounded-lg shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75"
          >
            Limpar Filtros
          </button>
          <button
            (click)="applyFilter()"
            class="py-2 px-6 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75"
          >
            Aplicar Filtros
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading Skeleton -->
  <div class="container" *ngIf="isLoading">
    <app-card-skeleton *ngFor="let i of [1, 2, 3, 4]"></app-card-skeleton>
  </div>

  <!-- Template Unificado com app-card-layout -->
  <div class="container mx-auto" *ngIf="cards.length > 0 && !isLoading">
    <div class="row g-3 m-0 p-0">
      <div class="col-12 m-0 p-2" *ngFor="let card of cards">
        <!-- Toast para status recusado -->
        <div
          *ngIf="
            selectedIndex === 1 && card.candidaturas[0].status === 'recusado'
          "
          class="toast show top-0 end-0 m-1"
          style="z-index: 1000"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <strong class="me-auto">Notificação</strong>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">
            O cliente recusou seu lance de
            <span class="fw-bold text-black">
              {{ card.valorFormatted | currency : "BRL" }} </span
            >.<br />
            Você pode dar um novo lance clicando em
            <i class="fa fa-pencil"></i>
            ou
            <i class="fa fa-calendar-alt"></i>
          </div>
        </div>

        <lib-card-layout
          [statusPedido]="
            card.candidaturas &&
            card.candidaturas.length > 0 &&
            card.candidaturas[0].status === 'recusado'
              ? 'recusado'
              : card.candidaturas &&
                card.candidaturas.length > 0 &&
                card.candidaturas[0].status === 'negociacao'
              ? 'em negociacao'
              : card.status_pedido
          "
          [cardTemplateIndicator]="1"
        >
          <!-- Header -->
          <div
            service-icon
            class="cursor-pointer"
            (click)="goToDetails(card.id_pedido)"
          >
            <i
              [class]="card.icon"
              class="text-2xl"
              style="color: var(--light) !important"
            ></i>
          </div>

          <div
            service-title
            (click)="goToDetails(card.id_pedido)"
            class="cursor-pointer"
          >
            <div>{{ card.categoria }}</div>
          </div>

          <div service-address>
            <i
              class="fas fa-map-marker-alt text-xs mr-1"
              style="font-size: 12px; color: var(--primary) !important"
            ></i>
            {{ card.address.city }}, {{ card.address.state }}
          </div>

          <i
            details-btn
            (click)="goToDetails(card.id_pedido)"
            class="fa-solid fa-magnifying-glass cursor-pointer"
            style="color: var(--primary) !important"
          ></i>

          <div order-number>#{{ card.id_pedido }}</div>

          <!-- Status e Tags -->
          <div status-badge class="status-badge">
            <i
              class="fas fa-circle text-xs mr-1"
              [ngClass]="{
                'notification-pulse':
                  card.status_pedido === 'publicado' &&
                  (card.candidaturas.length > 0 &&
                    card.candidaturas[0].status) !== 'recusado'
              }"
            ></i>
            {{ getStatusText(card) }}
          </div>

          <div
            *ngFor="let filtro of card.subcategoria.split(',')"
            filter-tag
            class="filter-tag"
          >
            {{ filtro.trim() }}
          </div>

          <!-- Info e Descrição -->
          <div
            *ngIf="selectedIndex === 1"
            info-row
            class="info-row flex justify-between"
          >
            <span class="info-label" style="color: var(--tab-link)"
              >Valor orçamento:</span
            >
            <span class="info-value fw-semibold" style="color: var(--blue)">{{
              card.valor | currency : "BRL"
            }}</span>
          </div>

          <div description class="description text-gray-700">
            <p style="margin-bottom: 8px" class="font-semibold">📌 Detalhes:</p>
            {{ card.serviceDescription }}
          </div>

          <!-- Footer -->
          <div
            class="request-card-footer d-flex justify-content-center align-items-center gap-2"
          >
            <button
              details-btn
              (click)="goToDetails(card.id_pedido)"
              class="details-btn text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden text-ellipsis"
              style="
                border: 1px solid var(--tag-p-grey);
                color: var(--primary);
                background-color: var(--light);
                width: 100%;
              "
            >
              <i
                class="fas fa-search mr-1"
                style="color: var(--primary) !important"
              ></i>
              Detalhes
            </button>
          </div>

          <button
            main-btn
            style="width: 100%"
            class="request-quote-btn text-xs sm:text-sm md:text-base whitespace-nowrap overflow-hidden text-ellipsis"
            routerLinkActive="active"
            (click)="goToDetails(card)"
          >
            {{
              card.candidaturas.length > 0 &&
              card.candidaturas[0].status === "recusado"
                ? "Novo Lance"
                : "Ver Detalhes"
            }}
          </button>

          <div price>{{ card.valor | currency : "BRL" }}</div>
        </lib-card-layout>
      </div>
    </div>
  </div>

  <!-- Calendar (mantido fora do card-layout) -->
  <!-- <div #calendarContainer>
    <div class="container" style="z-index: 1001">
      <app-calendar
        [hasTime]="true"
        [showWeekView]="false"
        [initialDateTime]="card?.placeholderDataHora"
        [calendarActive]="card?.calendarActive || false"
        [hideCalendarInput]="true"
        [hideCalendarDays]="hideCalendarDays"
        (closeCalendar)="onCalendarClose(card)"
        (dateSelectedChange)="onDateSelected(card?.id_pedido, $event)"
        (timeSelectedChange)="onTimeSelected(card?.id_pedido, $event)"
      >
      </app-calendar>
    </div>
  </div> -->

  <!-- Mensagem quando não há cards -->
  <div
    *ngIf="cards.length === 0 && !isLoading"
    class="d-flex align-items-center justify-content-center mt-5 pt-5"
    style="height: 68vh"
  >
    <div class="d-flex flex-column align-items-center gap-3">
      <i
        class="fas fa-file-lines"
        style="font-size: 5em; color: var(--tag-p-grey)"
      ></i>
      <p class="fs-3">Ainda não há serviços disponíveis</p>
    </div>
  </div>
</section>

<!-- MODAL -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-4 flex flex-column gap-3">
        <i
          class="fas fa-check-circle display-2"
          style="color: #43a047 !important"
        ></i>

        <h5>Proposta enviada com sucesso</h5>
        <p class="text-muted" style="color: var(--tag-p-grey) !important">
          Aguarde a confirmação do cliente. Você pode acompanhar o status do seu
          serviço na aba "Andamento".
        </p>
        <div
          class="container flex align-items-center justify-content-center gap-1 mt-2"
        >
          <!-- <button
            (click)="closeModalAndUpdate()"
            class="btn btn-outline-primary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button> -->
          <button
            (click)="goToMyProposals()"
            class="btn btn-primary col-12"
            data-bs-dismiss="modal"
          >
            Ver pedidos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-4 flex flex-column gap-3">
        <i
          class="fas fa-exclamation-circle display-2"
          style="color: #e53935 !important"
        ></i>

        <h5>Erro ao enviar a proposta</h5>
        <p class="text-muted" style="color: var(--tag-p-grey) !important">
          Ocorreu um problema ao tentar enviar sua proposta. Tente novamente
          mais tarde.
        </p>

        <div
          class="container flex align-items-center justify-content-center gap-1 mt-2"
        >
          <button
            (click)="modalSentProposal(false)"
            class="btn btn-outline-danger col-12"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5 pt-3"></div>
