i {
  color: var(--tag-p-grey) !important;
}

.request-card {
  display: flex;
  flex-direction: column;
  background: var(--light);
  border-radius: 10px;
  /* padding: 20px; */
  margin: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.request-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.request-card-body {
  margin-bottom: 20px;
}

.card-header {
  background-color: transparent;
}

.card-footer {
  background-color: transparent;
}

.request-card-link {
  font-size: 0.9rem;
  color: rgb(90, 90, 255) !important;
  text-decoration: none;
}

.request-card-link:hover {
  text-decoration: underline;
}

.request-quote-badge {
  background: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.disabled-card {
  pointer-events: none;
  /* Desabilita interações com o card */
  opacity: 0.3;
  /* Reduz a opacidade para indicar desabilitado */
  cursor: not-allowed;
  /* Mostra o cursor de "não permitido" */
}

.tab-link {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-size: 16px;
  color: var(--tab-link);
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 500;
}

.tab-link.active {
  color: var(--primary);
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 2); /* Altere se tiver mais ou menos itens */
  height: 3px;
  background-color: var(--primary);
  transition: transform 0.3s ease;
  border-radius: 4px 4px 0 0;
}

.ajust-space {
  display: flex;
  justify-content: space-between !important;
}
.ajust-space2 {
  display: flex;
  justify-content: end !important;
}

.newclass {
  background-color: red !important;
}
.newclass2 {
  background-color: rgb(0, 4, 255) !important;
}

@media (max-width: 500px) {
  /* 
  .header-desktop {
    font-size: 20px !important;
  } */
}

@media (max-width: 410px) {
  .tab-bar a {
    font-size: 14px !important;
  }
}
/* @media (max-width: 415px) {
  .tab-bar a {
    font-size: 15px !important;
  }
} */
